nav {
    background-color: black;
    text-align: right;

}

nav li {
    display: inline;
    padding-right: 14px;
}

nav ul {
    padding 14px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;

}

.indhold {
    font-family: sans-serif;
    text-align: center;
}

.list > ul {
    list-style-type: none;
    padding: 0;
}


h1 {
    font-size: 60px
}

footer {
    background-color: black;
    font-family: sans-serif;
    text-align: right;
    color: floralwhite;
}

img {
    border-color: darkgray;
    width: 800px;


}
